- tenant:
    name: upstream
    source:
      qinqon:
        config-projects:
          - zuul-in-a-box
      gerrit:
        untrusted-projects:
          - test1
          - test2
      git.openstack.org:
        untrusted-projects:
          - exclude:
            - pipeline
            - job
            - semaphore
            - project
            - project-template
            - nodeset
            - secret
            projects:
            - openstack-infra/project-config
          - exclude:
            - project
            - job
            projects:
            - openstack-infra/openstack-zuul-jobs
          - exclude:
            - project
            projects:
            - openstack-infra/zuul-jobs
            - openstack-infra/tripleo-ci
            - openstack/tripleo-quickstart
            - openstack/tripleo-quickstart-extras
            - openstack/tripleo-upgrade
            - openstack/browbeat
            - openstack/tripleo-ha-utils
            - openstack/tripleo-heat-templates
#      rdoproject.org:
#        config-projects:
#          - config
#        untrusted-projects:
#          - exclude:
#            - project
#            projects:
#              - rdo-jobs:
#                  shadow: config
#              - ci-config
